/*

1024
1280×720
1366×768
1440×900
1536×864
1600×900
1920×1080


@media (min-width: 1600px) {
header a {
    font-size: 60px!important;
}

*/

@import url("tiny.css");

/******************************
        LISTA DE TEMAS
*******************************/
.listadetemas {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.forumbg {
}
.forum-header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}
.topiclist.topics {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px 0px;
}
.thread {
  background: var(--dark3);
  height: 75px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.to-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light2);
}
.to-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.to-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}
.to-desc {
  font-size: 11px;
}
.to-by {
  text-transform: uppercase;
  font-size: 9px;
  display: flex;
  gap: 5px;
}
.to-right {
  display: flex;
  height: 100%;
  gap: 10px;
  width: 44%;
  justify-content: end;
  align-items: center;
}
.to-info {
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
}
.to-last {
  font-size: 9px;
  font-style: italic;
}
.to-stats {
}
.to-link {
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************
      INTERIOR DE TEMAS
*******************************/
.thread-header {
  width: 100%;
  height: 65px;
  background: var(--dark3);
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.thh-left {
  display:flex;
  flex-direction: column;
}

.thh-left > a  { 
  font-weight: 900;
  color: var(--accent);
}

.thh-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.thh-right a {
  font-weight: 900;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: -.5px;
    text-shadow: 1px 2px 0px #000;
}

.post {
  width: 100%;
  background: var(--dark3);
  margin-top: 40px;
  display: flex;
  padding: 0!important;
  margin-bottom: 0!important;
}

.post-main {
  width: 100%%;
}
.post-header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--dark2);
  box-sizing: border-box;
}

.pp-headermain {
  display: flex;
  height: 85%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  border-bottom: 1px solid var(--dark2);
  box-sizing: border-box;
}

.pp-headerextra {
  display: flex;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.ppextra-left {
  display: flex;
  gap: 10px;
}

.ppextra-left a {
  color: var(--groups);
}

.ppextra-right {
  display: flex;
  gap: 20px;
  font-weight: 900;
}

.post-username {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 25px;
  font-style: italic;
}

.ph-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ph-right span {
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph-right span:before {
  content: "//";
  font-size: 8px;
  color: var(--groups);
  margin-right: 5px;
}

.ph-right img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 100%;
  outline: 1px solid var(--groups);
  outline-offset: 10px;
  margin-left: 20px;
}

.postbody {
  box-sizing: border-box;
    padding: 20px 40px!important;
    text-align: justify;
    width: 100%!important;
}

.post-profile {
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid var(--dark2);
  min-width: 270px;
  max-width: 270px;
}

.mini-profile {
  position: sticky;
top: 121px;
}

.post-profile img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.pp-hover {
  width: 250px;
  height: 350px;
  background: rgb(0, 0, 0, 0.9);
  position: absolute;
  backdrop-filter: blur(3px);
  top: 0;
  box-sizing: border-box;
  padding: 45px;
  display: flex;
  gap: 35px;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.mini-profile:hover .pp-hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.pp-datos {
  display: flex;
  flex-direction: column;
}
.pp-datos span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pp-datos span b {
  font-weight: normal;
  font-family: var(--serif);
  color: var(--groups);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;
}

.pp-datos span b:after {
  content: "";
  display: block;
  width: 100%;
  margin: 0px 5px;
  height: 1px;
  background: var(--groups);
}

.pp-datos span em {
  font-style: normal;
  font-size: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: max-content;
  white-space: nowrap;
}

.pp-extra {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.pp-extra span {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pp-extra span b {
  font-family: var(--title);
  color: var(--groups);
  font-size: 20px;
}
.pp-extra span em {
  font-style: normal;
  text-transform: uppercase;
  font-size: 8px;
}
span.pp-nivel b {
  font-family: var(--serif);
}

.pp-links {
  margin-top: 20px;
  height: 40px;
  background: var(--dark4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--groups);
}

.signature-separator {
  width: 100%;
  margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark2);
    text-transform: uppercase;
    font-family: var(--title);
    font-size: 11px;
    text-shadow: 2px 2px 0px #000;
}

.signature-separator:before {
  content:"";
  width: 300px;
  background: var(--dark2);
  height: 1px;
  display: block;
  position: absolute;
  z-index: 2;
}

.tiny-sig {
  z-index: 2;
  background: var(--dark3);
  padding: 0px 25px;
}

/******************************
         PERFIL SIMPLE
*******************************/
.profile-simple {
  background: var(--dark3);
  width: 100%;
  height: 700px;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

.ps-links {
  height: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 900;
}

.ps-header {
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.ps-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  align-items: end;
  text-shadow: 1px 2px 1px #000;
  width: 100%;
}

.ps-info i {
  color: var(--dark2);
  font-size: 14px;
  font-style: normal;
  font-family: var(--title);
  font-weight: 900;
  text-shadow: 1px 2px 1px #000;
  text-transform: uppercase;
}
.ps-info u {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--groups);
  font-size: 10px;
}
.ps-info strong {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 25px;
  color: var(--light);
}

.ps-asks {
  display: flex;
  flex-wrap: wrap;
  height: 135px;
  justify-content: end;
  text-transform: uppercase;
  width: 100%;
  text-align: right;
}
.ps-asks span {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width:33%;
  height:33%;
}
.ps-asks span em {
  font-style: normal;
}
.ps-asks span b {
  color: var(--groups);
  font-weight: normal;
  font-family: var(--serif);
  margin-top: -3px;
  font-size: 10px;
}

.ps-main {
  height: 390px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  gap: 20px;
  position: relative;
  border-bottom: 1px solid var(--dark2);
}
.ps-trnk {
  display: flex;
  width: 39.2%;
  flex-direction: column;
  gap: 20px;
}

.ps-inv,
.ps-sk {
  width: 100%;
  height: 50%;
  background: var(--dark4);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ps-tit {
  background: var(--groups);
  font-weight: 900;
  box-sizing: border-box;
  padding: 5px;
  text-transform: uppercase;
  width: max-content;
  font-size: 10px;
}

.pad-ps {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
}

.pad-ps span {
  display: block;
}

.pad-ps span b {
  text-transform: uppercase;
  color: var(--groups);
  font-size: 10px;
}

.ps-stats {
  width: 34%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid var(--dark2);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.ps-stat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.ps-stat b {
  font-size: 8px;
  font-weight: normal;
  text-transform: uppercase;
}

.bar-st {
  background: var(--dark2);
  width: 100%;
  height: 17px;
  box-sizing: border-box;
  border: 5px solid var(--dark);
  outline: 1px solid var(--dark2);
}

.bar-st:after {
  background: var(--groups);
  content: "";
  display: block;
  height: 100%;
  width: var(--width, 0%);
}

.ps-dates {
  height: 20px;
  display: flex;
  box-sizing: border-box;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 9px;
}

/******************************
           MEMBERLIST
*******************************/

.member-list {
    width: 100%;
    height: 680px;
    background: var(--dark3);
    margin-top: 40px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    position: relative;
}

.ml-filters {
    width: 22.74%;
    border: 1px solid var(--dark2);
    box-sizing: border-box;
    padding: 20px;
}

.ml-header {
    text-transform: uppercase;
    font-family: var(--title);
    font-size: 30px;
    text-shadow: 1px 4px 0px var(--accent);
}
.ml-tit {
    text-transform: uppercase;
    font-weight: 900;
    width: fit-content;
    background: var(--dark);
    font-size: 11px;
    padding: 5px 10px;
    color: var(--accent);
    margin: 5px 0px;
}
.sort-pad {
  text-transform: uppercase;
  font-family: var(--serif);
  font-size: 9px;
  display: flex;
  flex-wrap: wrap;
}
.sort-pad span {
    margin: 0px 8px;
    cursor: pointer;
}

.sort-pad span.active {
    font-weight: 900;
}

.ml-users {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  border-left: 1px solid var(--dark2);
  width: 75.6%;
  left: 23.74%;
}

.ml-pad {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.ml-user {
  display: flex;
  width: 49%;
  height: 210px;
  background: var(--dark2);
  box-sizing: border-box;
  padding: 20px 0px;
  justify-content: space-around;
  align-items: center;
}

.ml-user.hide {
    display: none;
}

.ml-user img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
  border: 10px solid var(--dark2);
  outline: 10px solid var(--dark4);
}
.ml-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
}
.ml-info strong {
    font-family: var(--title);
    font-size: 26px;
    text-transform: uppercase;
    text-align: right;
    color: var(--groups);
    width: 84.26%;
    line-height: .9;
}
.ml-info2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ml-info2 span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ml-info2 b {
    font-weight: normal;
    font-family: var(--serif);
    color: var(--groups);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10px;
}

.ml-info2 b:after {
    content: "";
    display: block;
    width: 100%;
    margin: 0px 5px;
    height: 1px;
    background: var(--groups);
}

.ml-info2 em {
  font-style: normal;
  font-size: 11px;
  display: flex;
  justify-content: end;
  white-space: nowrap;
  width: max-content;
  align-items: center;
}

.ml-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    height: 50px;
}


/******************************
           GUIDEBOOK
*******************************/

.guide-book {
  width: 100%;
  height: auto;
  background: var(--dark3);
  margin-top: 40px;
  box-sizing: border-box;
  display: flex;
  transition: .5s ease-in-out;
}

.gb-links {
  width: 20%;
  border: 1px solid var(--dark2);
  box-sizing: border-box;
  padding: 20px;
  transition: .5s ease-in-out;
  border-right: 1px solid var(--dark2);
  margin: 20px 0px 20px 20px;
}

.gb-sticky {
  position: sticky;
    top: 125px;
}

.gb-tit {
text-transform: uppercase;
font-family: var(--title);
font-size: 20px;
text-shadow: 1px 3px 0px var(--accent);
}

.guide-book span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
}

.guide-book span b {
    font-family: var(--serif);
    color: var(--accent);
    font-weight: normal;
    display: flex;
    gap: 10px;
    align-items: center;
}

.guide-book span:hover {
    color:var(--accent);
}

.guide-book span b:after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background: var(--accent);
    transition: .4s ease-in-out;
}

.guide-book span.active b:after {
    content: "";
    width: 40px;
    transition: .4s ease-in-out;
}
.gb-tabs {
  box-sizing: border-box;
  padding: 10px;
  transition: .5s ease-in-out;
  border-left: 1px solid var(--dark2);
  min-height: 420px;
  flex: 1;
  margin-left: -1px;
}

.gb-tab {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: justify;
  height: 100%;
  display: none;
}

.gb-tab.active {
    display: block;
}

.gb-titt {
  font-weight: 900;
  text-transform: uppercase;
}

/******************************
           GROUPS
*******************************/
.groups-page .groups-desc {
    width: 100%;
    background: var(--dark3);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    height: 155px;
    align-items: center;
}
.groups-page .grousp-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 50px;
    color: var(--groups);
}
.groups-page .groups-desc2 {
    width: 75%;
    text-align: justify;
}
.groups-page .groups-title {
    text-transform: uppercase;
    font-family: var(--title);
    color: var(--groups);
    font-style: italic;
    font-size: 35px;
}

.groups-page .groups-desc3{
    font-size: 10px;
}
.groups-page .groups-list {
    width: 100%;
    background: var(--dark3);
    padding: 50px;
    box-sizing: border-box;
    margin-top: 40px;
    column-count: 3;
}
.groups-page .panel {
  margin-top:40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.groups-page a.button1, .groups-page input.button1, .groups-page a.button2, .groups-page input.button2, .groups-page button.button2, .groups-page .external-module .groups-page .external-more a {
  color: var(--groups)!important;
  padding: 2px!important;
  font-size: 10px!important;
}

.groups-page p {
  margin-bottom: 0!important;
  line-height: normal!important;
}