<!-- BEGIN catrow -->
	<!-- BEGIN tablehead -->
    <div id="{catrow.tablehead.ID}" class="forabg">
        <div class="cat-head"><span>01</span><em>{catrow.tablehead.L_FORUM}</em></div>
        <ul class="topiclist forums">
<!-- END tablehead -->                   
<!-- BEGIN forumrow -->
      <div class="foro-reg">
                         <div class="foro-main">
  <div class="foro-tit"><a href="{catrow.forumrow.U_VIEWFORUM}">{catrow.forumrow.FORUM_NAME}</a></div>
 {catrow.forumrow.FORUM_DESC}
</div>
          
                         <div class="foro-side">
   <div class="foro-last">
     <!-- BEGIN avatar -->
      {catrow.forumrow.avatar.LAST_POST_AVATAR}
     <!-- END avatar -->
      <!-- BEGIN switch_topic_title -->
                  <a href="{catrow.forumrow.U_LATEST_TOPIC}" title="{catrow.forumrow.LATEST_TOPIC_TITLE}">{catrow.forumrow.LATEST_TOPIC_NAME}</a>
                  <!-- END switch_topic_title -->
      <span>{catrow.forumrow.USER_LAST_POST}</span>
  </div>
  <div class="foro-stats">
    <span>{catrow.forumrow.TOPICS} {L_TOPICS}</span> <span>{catrow.forumrow.POSTS} {L_POSTS}</span></div>
</div>
                           
      </div>
<!-- END forumrow -->
<!-- BEGIN tablefoot -->
      </ul>

</div>

<!-- END tablefoot -->
<!-- END catrow -->