<!-- BEGIN html_validation -->
<main>	
    <div>
                      
                          <div>
                              
  <!-- END html_validation -->
                              
                                                   
                                                    
                          </div>
                      
              
  
                  <div id="{ID_RIGHT}">
                      <!-- BEGIN giefmod_index2 -->
                      {giefmod_index2.MODVAR}
                      <!-- BEGIN saut -->
                      <div style="height:{SPACE_ROW}px"></div>
                      <!-- END saut -->
                      <!-- END giefmod_index2 -->
                  </div>
  
    
                                                        <div class="stadisticas">
    <!-- BEGIN disable_viewonline -->
    
  
      <div class="s-online">
          <div class="pad-online">{LOGGED_IN_USER_LIST}</div>
          <div class="data-online">
            <div class="onlinetodo" style="display:none">{TOTAL_USERS_ONLINE}</div>
      <span class="membernumber"><strong></strong> registrados</span> 
      <span class="hiddennumber"><strong></strong> ocultos</span> 
      <span class="guestnumber"><strong></strong> invitados</span></div>
      </div>
      <div class="s-grupos">
        <!-- BEGIN switch_group_legend -->
  {GROUP_LEGEND}
  <!-- END switch_group_legend -->
          
      </div>
      <div class="s-horas">
          <div class="s-horas2">
              <div class="pad-horas">
                  {L_CONNECTED_MEMBERS}</div>
          </div>
          <div class="s-nuevoo">
              <em>bienvenido a tiny</em>
            <strong style="grid-row-start: 2;grid-column-start: 2;text-align: right;font-family: var(--title);text-transform: uppercase;font-size: 15px;">{NEWEST_USER}</strong>
          </div>
      </div>
      <div class="s-stats">
          <div class="s-stat"><span class="big-stat">est</span> 2023</div>
          <div class="s-stat total-us"><span class="big-stat">{TOTAL_USERS}</span> users</div>
          <div class="s-stat total-ps"><span class="big-stat">{TOTAL_POSTS}</span> posts</div>
      </div>
      <div class="s-links">
         <a data-alt="Posts desde la ultima visita" href="/search?search_id=newposts"><i class="fas fa-comment-alt-exclamation"></i></a>
         <a data-alt="Tus temas" href="/search?search_id=egosearch"><i class="fas fa-comment-alt-edit"></i></a>
         <a data-alt="Temas sin respuestas" href="/search?search_id=unanswered"><i class="fas fa-comment-alt-dots"></i></a>
         <a data-alt="Temas vigilados" href="/search?search_id=watchsearch"><i class="fas fa-comment-alt-check"></i></a>
         <a data-alt="Top 20 Posteadores de Hoy" href="/memberlist?mode=today_posters"><i class="fas fa-medal"></i></a>
         <a data-alt="Top 20 Posteadores" href="/memberlist?mode=overall_posters"><i class="fas fa-trophy-alt"></i></a>
         <a data-alt="Borrar Cookies" href="/?mode=delete_cookies" rel="nofollow"><i class="fas fa-cookie-bite"></i></a>
      </div>
  
    
    <!-- END disable_viewonline -->
    </div>
    
    <div class="afi-creds">
      <div class="afi-afi"></div>
      <div class="afi-count"><span class="afi-count2"></span> 26</div>
      <div class="afi-cred">
          
      </div>
  </div>
      
      </div>
  </main>
  
  <footer>
      <div class="navbar">
          <div class="inner">
              <span class="corners-top"><span></span></span>
              <ul class="linklist clearfix">
                  <li class="footer-home">
                      <a class="icon-home" href="{U_INDEX}" accesskey="h">{L_HOME}</a>
                  </li>
                  <li class="rightside">
  <!-- BEGIN html_validation -->
                  </li>
              </ul>
          </div>
      </div>
  </footer>
  <!-- END html_validation -->