<!-- BEGIN topics_list_box -->
<!-- BEGIN row -->
<!-- BEGIN header_table -->
	<!-- BEGIN multi_selection -->
    <script type="text/javascript">

		function check_uncheck_main_{topics_list_box.row.header_table.BOX_ID}()
		{
			alert('MAIN');

			var all_checked = true;

			for (i = 0; (i < document.{topics_list_box.FORMNAME}.elements.length) && all_checked; i++)
			{
				if (document.{topics_list_box.FORMNAME}.elements[i].name == '{topics_list_box.FIELDNAME}[]{topics_list_box.row.header_table.BOX_ID}')
				{
					all_checked = document.{topics_list_box.FORMNAME}.elements[i].checked;
				}
			}

			document.{topics_list_box.FORMNAME}.all_mark_{topics_list_box.row.header_table.BOX_ID}.checked = all_checked;
		}

		function check_uncheck_all_{topics_list_box.row.header_table.BOX_ID}()
		{
			alert('ALL');

			for (i = 0; i < document.{topics_list_box.FORMNAME}.length; i++)
			{
				if (document.{topics_list_box.FORMNAME}.elements[i].name == '{topics_list_box.FIELDNAME}[]{topics_list_box.row.header_table.BOX_ID}')
				{
					document.{topics_list_box.FORMNAME}.elements[i].checked = document.{topics_list_box.FORMNAME}.all_mark_{topics_list_box.row.header_table.BOX_ID}.checked;
				}
			}
		}

		</script>
	<!-- END multi_selection -->


<link rel="stylesheet" href="https://dl.dropbox.com/s/9bi9iwmmngk60y1/listatemas.css">



	<div class="forumbg announcement">
		<ul class="topiclist topics">
			<li class="header">
				<dl class="icon">
					<dt>
						<!-- BEGIN multi_selection -->
						<input onclick="check_uncheck_all_{topics_list_box.row.header_table.BOX_ID}();" type="checkbox" name="all_mark_{topics_list_box.row.header_table.BOX_ID}" value="0" />
						<!-- END multi_selection -->
<strong>Importante</strong>
					</dt>
				</dl>
			</li>
		</ul>

		<ul class="topiclist topics bg_none">
<!-- END header_table -->

<!-- BEGIN header_row -->
		<strong>{topics_list_box.row.L_TITLE}</strong>
<!-- END header_row -->

<!-- BEGIN topic -->

	<!-- BEGIN table_sticky -->
			</ul>
		</div>

		<div class="forumbg">
		<ul class="topiclist topics">
			<li class="header">
				<dl class="icon">
					<!--<dd class="dterm">-->
					<dd class="dterm" style="padding-left:0;">
						<!-- BEGIN multi_selection -->
						<input onclick="check_uncheck_all_{topics_list_box.row.header_table.BOX_ID}();" type="checkbox" name="all_mark_{topics_list_box.row.header_table.BOX_ID}" value="0" />
						<!-- END multi_selection -->
						<strong>Temas</strong>
					</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics bg_none">
	<!-- END table_sticky -->

		<li style="display:inherit" class="row {topics_list_box.row.ROW_ALT_CLASS} thread"<!-- BEGIN line_sticky --> style="display:inherit";"<!-- END line_sticky --> >
 <div class="to-icon"><img src="{topics_list_box.row.TOPIC_FOLDER_IMG}"></div>

 <div class="to-left">
                    <div class="to-title"><a class="topictitle" href="{topics_list_box.row.U_VIEW_TOPIC}">{topics_list_box.row.TOPIC_TITLE}</a></div>
                    <div class="to-desc">					<!-- BEGIN switch_description -->
					{topics_list_box.row.topic.switch_description.TOPIC_DESCRIPTION}
					<!-- END switch_description --></div>
<div class="to-by">{topics_list_box.row.L_BY} <strong>{topics_list_box.row.TOPIC_AUTHOR}</strong></a> // {topics_list_box.row.GOTO_PAGE_NEW} </div>
                </div>



<div class="to-right">
                    <div class="to-info">
                        <div class="to-last">último post por {topics_list_box.row.LAST_POST_AUTHOR} {topics_list_box.row.LAST_POST_TIME}</div>
                        <div class="to-stats">{topics_list_box.row.REPLIES} respuestas {topics_list_box.row.VIEWS} visitas</div>
                    </div>
                    <div class="to-link">{topics_list_box.row.LAST_POST_IMG}</div>
                </div>

				<!-- BEGIN multi_selection -->
					<input onclick="javascript:check_uncheck_main_{topics_list_box.row.BOX_ID}();" type="checkbox" name="{topics_list_box.FIELDNAME}[]{topics_list_box.row.BOX_ID}" value="{topics_list_box.row.FID}" {topics_list_box.row.L_SELECT} />
				<!-- END multi_selection -->
		</li>
<!-- END topic -->
<!-- BEGIN no_topics -->
<li class="thread row row1">
	<dl>
		<dt><strong>{topics_list_box.row.L_NO_TOPICS}</strong></dt>
	</dl>
</li>
<!-- END no_topics -->

<!-- BEGIN bottom -->
</ul>
</div>
<!-- END bottom -->
<!-- BEGIN spacer --><br /><!-- END spacer -->
<!-- END row -->
<!-- END topics_list_box -->

<style type="text/css">
label {
    cursor: text!important;
    color: var(--light)!important;
    font-family: var(--sub)!important;
    text-transform: uppercase!important;
    font-size: 9px!important;
}
</style>