/**************** TABLILLAS ********************/
h1.fad-main {
	text-transform: uppercase;
	font-family: var(--title);
	text-shadow: 1px 3px 0px var(--groups);
	font-style: italic;
	display: flex;
	align-items: center;
	font-size:35px;
}
h1.fad-main:before {
	content: "";
	display: block;
	background: var(--dark2);
	width: 40px;
	height: 1px;
	margin-right: 10px;
}

h1.fad-main.centerme {
	justify-content: center;
}

h1.fad-main.centerme:before {
	content: "";
	display: none;
}

h2.fad-main {
	text-transform: lowercase;
	display: flex;
	align-items: center;
	font-family: var(--body);
	gap: 10px;
	border-bottom: 1px solid var(--dark2);
	padding-bottom: 3px;
	justify-content: end;
	flex-direction: row-reverse;
	color: var(--groups);
	font-weight: 500;
}
h3.fad-main {
	text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    font-family: var(--mono);
}
h3.fad-main strong {
	width: fit-content;
	font-family: var(--title);
	color: var(--dark);
	background: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10px;
	margin-right: 10px;
	font-size: 15px;
	padding: 4px 7px;
	border-radius: 2px;
	font-weight: 900;
	gap: 10px;
}
h3.fad-main strong:after {
	content: "";
	display: block;
	width: 40px;
	height: 1px;
	background: var(--dark2);
	margin-right: 5px;
}
h4.fad-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	font-family: var(--groups);
	color: var(--groups);
	font-weight: 600;
	letter-spacing: 1.2px;
	gap: 30px;
	text-align: center;
}
h4.fad-main:before {
	content: "";
	display: block;
	max-width: 50%;
	height: 1px;
	background: var(--dark2);
	margin: 40px 0px;
	flex: 30%;
}
h4.fad-main:after {
	content: "";
	display: block;
	max-width: 50%;
	height: 1px;
	background: var(--dark2);
	flex: 30%;
}
h5.fad-main {
	text-transform: uppercase;
	font-family: var(--body);
	color: var(--groups);
	border: 0.2px solid var(--groups);
	width: fit-content;
	padding: 5px 10px;
	font-weight: 300;
}
h6.fad-main {
	text-transform: uppercase;
	font-family: var(--title);
	position: relative;
	display: flex;
}
h6.fad-main t {
	display: block;
	border-bottom: 5px solid var(--groups);
	width: fit-content;
	z-index: 6;
}
h6.fad-main:after {
	content: "";
	background: var(--groups);
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 2px;
	z-index: 4;
}

p1 {
     background:var(--dark2);
     display:block;
     width:85%;
     box-sizing:border-box;
     padding:20px;
     margin:0 auto;
}
 p2 {
	background: var(--accent);
    display: block;
    width: 65%;
    min-width: 255px;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
    outline: 1px solid var(--dark3);
    outline-offset: -20px;
    color: var(--dark3);
    font-family: var(--mono);
}
 p3 {
     display:block;
     width:85%;
     box-sizing:border-box;
     padding:20px 50px;
     margin:0 auto;
     border-top:1px solid var(--accent);
     border-bottom:1px solid var(--accent);
     font-size:13px;
     font-family:var(--serif);
     font-weight:600;
}
 .admin-w {
     background:var(--dark4);
     display:block;
     width:60%;
     box-sizing:border-box;
     padding:20px;
     margin:0 auto;
     display:flex;
     align-items:center;
     font-size:10px;
}
 .admin-w i {
     color:var(--accent);
     font-size:40px;
     margin-right:20px;
}

.admin-w em {
	color:var(--accent);
	font-size:40px;
	margin-right:20px;
}

 .admin-w h7 {
     display:block;
     font-weight:900;
     font-size:16px;
     font-family:var(--body);
}

.modo-pnj {
    display:none;
  }

  .timeline-date {
	padding:0px 0px 20px 40px;
	position:relative;
	margin:0;
  }
  
  .timeline-date:last-child {
	padding-bottom: 0;
  }
  
  .timeline-date .tl-tit {
	text-transform:uppercase;
	font-size:14px;
	position:relative;
  transition:.3s ease-in-out;
	font-family:var(--title);
	font-weight:900;
  }
  
  .tl-tit:before {
	content:"";
	background:var(--dark2);
	width:10px;
	height:10px;
	position:absolute;
	left:-45px;
	border-radius:100%;
	outline:0px solid var(--accent);
	transition:.3s ease-in-out;
  }
  
  .tl-mark {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:0;
  }
  
  .tl-mark:after {
	content:"";
	width:2px;
	display:block;
	background:var(--dark2);
	position:absolute;
	top:10px;
	left:0px;
	height:100%;
  }
  
  .timeline-date:last-child .tl-mark:after {
	content:"";
	display:none!important;
  }
  
  .timeline-date:hover .tl-tit {
	color:var(--accent);
  }
  
  .timeline-date:hover .tl-tit:before {
	outline:1px solid var(--accent);
	outline-offset:5px;
	transition:.3s ease-in-out;
  }

  .gb-img {
	display:flex;
	align-items:center;
	gap:20px;
  }
  
  .gb-img img {
	filter:grayscale(100%);
	transition:.3s ease-in-out;
  }
  
  .gb-img:hover img {
	filter:grayscale(0%);
	transition:.3s ease-in-out;
  }
  
  .gb-img-b {
	box-sizing: border-box;
    border: 2px solid var(--dark2);
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
  }
  
  .gb-img-bottom img {
	width:100%;
	object-fit:cover;
	filter:grayscale(100%);
	transition:.3s ease-in-out;
  }
  
  .gb-img-bottom:hover img {
	filter:grayscale(0%);
	transition:.3s ease-in-out;
  }

  .gb-tabs table {
	width:100%;
	 border-spacing: 15px;
  }
  
  .gb-tabs th {
	padding:0px 20px;
	text-align:center;
	text-transform:uppercase;
	color:var(--accent);
  }
  .gb-tabs td {
	background:var(--dark5);
	box-sizing:border-box;
	padding:20px;
	transition:.1s ease-in-out;
  }
  
  .gb-tabs tr:hover td{
	background:var(--dark3);
	transition:.1s ease-in-out;
  }